
.div-tasks-list{

    width: 100%;
    padding: 10px;

    background-color: #fff;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    border-radius: 4px;

}

.div-tasks-list h2{
    font-size: 24px;
    margin-bottom: 10px;
}

#tasks-list{
    list-style: none;
}

#tasks-list li{
    margin-top: 5px;
    color: #fff;
}

.ul-tasks li a{
    text-decoration: none;
    color: #121312;
}

.ul-tasks li a:hover{
    display: block;
    color: #fff;
    background-color: #121312;
    padding: 5px;
    border-radius: 4px;
    transition: 0.3s;
}

.ul-tasks{
    display: none;
    list-style: none;
    padding-left: 15px;
}
.ul-Monday.ativo, .ul-Tuesday.ativo, .ul-Wednesday.ativo, 
.ul-Thursday.ativo, .ul-Friday.ativo, .ul-Saturday.ativo, 
.ul-Sunday.ativo{
    display: block;
}

.tasks-description p{
    margin-bottom: 10px;
    color: #121312;
}

/* Formulário de criação de atividade */
.form-criar-atividade{
    width: 100%;
    padding: 20px;
    margin-left: 10%;

    background-color: #fff;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
}

.form-criar-atividade h2, .form-criar-evento h2{
    font-size: 24px;
    margin-bottom: 20px;
}

#days-group-and-active-task{
    display: flex;
    gap: 10%;
    align-items: center;
    width: 100%;
}

.checkbox-group{
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.checkbox-group input[type="checkbox"]{
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 0px;
}

#days-group {
    margin-top: 3px;
}

#days-group label{
    display: block;
    margin: 0;
}

#days-group select{
    width: 150px;
    padding: 5px;
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 2px;
    background-color: #fff;
}

#title-group{
    margin-top: 3px;
}

#title-group label{
    display: block;
    margin: 0;
}

#title-group input[type="text"]{
    width: 60%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#create-task-form textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#create-task-form label{
    display: block;
    margin-top: 5px
}

#description-group label{
    display: block;
    margin-top: 5px;
    margin-left: 40%;
    font-weight: bold;
}

#btn-form-tasks{
    display: inline-block;
    padding: 15px 30px;
    margin-top: 10px;
    background-color: #2c3130; 
    color: #fff; 
    font-weight: bold;
    text-decoration: none; 
    border-radius: 5px;
    transition: background-color 0.3s ease;
    border: none;
}

#btn-form-tasks:hover {
    background-color: #6a7c5f; 
    cursor: pointer;
}
